@media screen and (max-width: 1600px) {

    .events-content {
        width: 100%;
    }

    .event-logo {
        min-width: 116px;
    }    
    .event-title-and-description {
        width: auto;
    }
    .event-date-and-cost, .event-buy {
        min-width: 125px;
    }
    .event-buy {
        text-align: center;
    }

}

@media screen and (max-width: 1200px) {

    .event-title-and-description {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .event-title-and-description .event-title {
        font-size: 1.8em;
    }

}

@media screen and (max-width: 900px) {

    .events-content {
        margin-top: 140px;
    }

    .events-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .event {
        flex-wrap: wrap;
        height: unset;
        width: 45%;
    }
    .event-logo {
        height: 116px;
        width: 116px;
        border-bottom: 1px solid #c2b797;
    }
    .event-date-and-cost {
        order: 1;
        width: calc(100% - 116px);
        height: auto;
        border-right: none;
        border-bottom: #c2b797 1px solid;
    }
    .event-title-and-description {
        order: 2;
        width: 100%;
        border-right: none;
        border-bottom: #c2b797 1px solid;
        padding-bottom: 30px;
        max-height: 173px;
    }
    .event-buy {
        order: 3;
        height: 50px;
        width: 100%;
    }

}

@media screen and (max-width: 700px) {

    .events-list {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .event {
        width: 100%;
        max-width: 365px;
        min-width: 280px;
    }

}