.events {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: url('../../../assets/images/intro-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

.events::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .6);
    z-index: 0;
}

.events-content {
    width: 1215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 310px;
    z-index: 1;
}

.page-title {
    margin-bottom: 30px;
    font-family: 'acboucle', sans-serif;
    text-transform: uppercase;
}

.events-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.event {
    width: 100%;
    height: 116px;
    display: flex;
    margin-bottom: 21px;
    font-family: 'acboucle', sans-serif;
    color: #fff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
    border: 1px solid #c2b797;
    transition: all .4s;
}

.event-description {
    margin-top: 5px;
    font-family: "robotocond regular", sans-serif;
}

.event:hover {
    background-color: rgba(230, 227, 31, .7);
    transition: all .4s;
}

.event-logo, .event-date, .event-cost, .event-buy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-logo {
    width: 141px;
    height: 100%;
    border-right: 1px solid #c2b797;
    box-sizing: border-box;
}

.event-title-and-description {
    width: 602px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 25px;
    border-right: 1px solid #c2b797;
    box-sizing: border-box;
}

.event-date-and-cost {
    width: 225px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #c2b797;
    box-sizing: border-box;
}

.event-date {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #c2b797;
    box-sizing: border-box;
}

.event-cost {
    width: 100%;
    height: 50%;
}

.event-buy {
    width: 240px;
    height: 100%;
}

.event-title {
    margin: 15px 0 10px 0;
    font-size: 32px;
}

.event-date, .event-cost, .event-buy {
    font-size: 23px;
}

.event-costType, .event-description {
    font-size: 14px;
}