<span id="show-page" class="hidden"></span>
<section class="events centred" id="events">

    <div class="events-content">

        <h2 class="page-title">
            Афиша мероприятий
        </h2>

        <ul class="events-list">
            <li *ngFor="let event of eventsData" class="event">

                <div class="event-logo">
                    <img src="../../../assets/images/event-logo.png" alt="event logo">
                </div>

                <div class="event-title-and-description">

                    <h3 class="event-title">
                        {{ event.title | uppercase }}
                    </h3>

                    <p class="event-description">
                        {{ event.description }}
                        <a routerLink="../" class="more-details">
                            Подробнее
                        </a>
                    </p>

                </div>

                <div class="event-date-and-cost">

                    <div class="event-date">
                        <span>
                            {{ event.date | uppercase }}
                        </span>
                    </div>

                    <div class="event-cost">
                        <span>
                            {{ event.cost | uppercase }}
                            <span class="event-costType">
                                {{ event.costType | uppercase }}
                            </span>
                        </span>
                    </div>

                </div>

                <div class="event-buy">
                    {{ event.isAllowBuy || "Получить приглашение" | uppercase }}
                </div>

            </li>
        </ul>
    
    </div>

</section>