.gallery {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: url('../../../assets/images/intro-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

.gallery::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .6);
    z-index: 0;
}

.gallery-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 240px;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
}

.page-title {
    font-family: 'acboucle', sans-serif;
    margin-bottom: 40px;
}

.content-items {
    display: flex;
    margin-bottom: 80px;
}

.items-container {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

.items-container:nth-child(2) {
    margin-right: 0;
}

.events-card {
    width: calc(50% - 10px);
    height: 452px;
    margin: 0 20px 20px 0;
    border: 1px solid #31271E;
    box-shadow: 0 0 25px 5px #000;
    box-sizing: border-box;
    transition: border .4s;
}

.events-card:nth-child(2n + 2) {
    margin-right: 0;
}

.events-card:hover {
    border: 1px solid #7D623A;
    transition: border .4s;
}

.events-card-area, .events-card-description, .titles, .main-card-area, .main-card-description, .main-titles {
    display: flex;
    flex-direction: column;
}

.events-card-area {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    background: url("../../../assets/images/events-bg.png");
    background-size: cover;
}

.events-card-description {
    position: relative;
    height: 102px;
    justify-content: flex-end;
    color: #fff;
    border-top: 1px solid #7D623A;
    background-color: #0A040C;
    transition: all .4s;
}

.events-card-description::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: calc(50% - 25px);
    background-image: url("../../../assets/images/event-sticker.png");
    background-size: cover;
    border: 2px solid #846C39;
    border-radius: 50%;
}

.events-card:hover .events-card-description {
    height: 157px;
    transition: all .4s;
}

.titles {
    height: 55px;
    font-family: 'acboucle', sans-serif;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: center;
}

.title {
    font-size: 23px;
}

.subtitle {
    font-size: 18.5px;
}

.info {
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 14px;
    border-top: 1px solid transparent;
    transition: all .4s;
}

.info-text {
    position: relative;
    font-family: 'acboucle', sans-serif;
    letter-spacing: 1.1px;
}

.info-text::before {
    content: "→";
    position: absolute;
    top: 0;
    right: -20px;
    opacity: 1;
    color: #fff;
    transition: all .4s;
}

.info-text::after {
    content: "→";
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0;
    color: #fcfb03;
    transition: all .4s;
}

.info:hover .info-text::before {
    right: -50px;
    opacity: 0;
    transition: all .4s;
}

.info:hover .info-text::after {
    right: -20px;
    opacity: 1;
    transition: all .4s;
}

.events-card:hover .info {
    height: 54px;
    opacity: 1;
    border-top: 1px solid #7D623A;
    transition: all .4s;
}

.main-item {
    width: 52.4%;
}

.main-card {
    width: 100%;
    height: 925px;
    border: 1px solid #31271E;
    box-shadow: 0 0 25px 5px #000;
    box-sizing: border-box;
    transition: border .4s;
}

.main-card:hover {
    border: 1px solid #7D623A;
    transition: border .4s;
}

.main-card-area {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    background: url("../../../assets/images/events-bg.png");
    background-size: cover;
}

.main-card-description {
    position: relative;
    height: 23%;
    justify-content: flex-end;
    color: #fff;
    border-top: 1px solid #7D623A;
    background-color: #0A040C;
    transition: all .4s;
}

.main-card-description::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: -25px;
    left: calc(50% - 25px);
    background-image: url("../../../assets/images/event-sticker.png");
    background-size: cover;
    border: 2px solid #846C39;
    border-radius: 50%;
}

.main-card:hover .main-card-description {
    height: 318px;
    transition: all .4s;
}

.main-titles {
    height: 124px;
    justify-content: space-between;
    margin-bottom: 25px;
    font-family: 'acboucle', sans-serif;
    text-align: center;
}

.main-title {
    font-size: 53px;
}

.main-subtitle {
    font-size: 40px;
}

.main-info {
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 28px;
    border-top: 1px solid transparent;
    transition: all .4s;
}

.main-info-text {
    position: relative;
}

.main-info-text::before {
    content: "→";
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 1;
    color: #fff;
    transition: all .4s;
}

.main-info-text::after {
    content: "→";
    position: absolute;
    top: 0;
    right: 0px;
    opacity: 0;
    color: #fcfb03;
    transition: all .4s;
}

.main-info:hover .main-info-text::before {
    right: -80px;
    opacity: 0;
    transition: all .4s;
}

.main-info:hover .main-info-text::after {
    right: -40px;
    opacity: 1;
    transition: all .4s;
}

.main-card:hover .main-info {
    height: 106px;
    opacity: 1;
    border-top: 1px solid #7D623A;
    transition: all .4s;
}

