@media screen and (min-width: 2000px) {

    .events-card {
        height: 666px;
    }

}

@media screen and (max-width: 1600px) {

    .events-card {
        height: 398px;
    }

    .main-card {
        height: 817px;
    }

}

@media screen and (max-width: 1200px) {

    .content-items {
        flex-direction: column;
    }

    .items-container {        
        width: 100%;
        justify-content: space-between;
    }

}

@media screen and (max-width: 900px) {

    .gallery-content {
        margin-top: 140px;
    }


}

@media screen and (max-width: 700px) {

    .events-card {
        max-width: 375px;
        width: 100%;
        margin-right: 0;
        min-height: 355px;
    }
    
    .items-container { 
        justify-content: center;
    }
    
}