.slider {
  width: 100%;
  position: relative;
  overflow: visible;
  margin-top: 30px;
}

.slider-container {
  width: 999999px;
  height: 100%;
  display: inline-flex;
  transform: translateX(0px);
  transition: transform .5s ease-in-out;
}
.slider-item {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.slider-item .item-content {
  display: flex;
  height: 85%;
  width: 93%;
  transition: .5s ease-in-out;
}

.slider-left, .slider-right {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  top: calc(50% - 25px);
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 3px #000);
  transition: .4s ease-in-out;
  opacity: .15;
}
.slider-left:hover, .slider-right:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 3px green);
}
.slider-left {
  background-image: url('./left-arrow.png');
  left: 0px;
}
.slider-right {
  background-image: url('./right-arrow.png');
  right: 0px;
}

.slider-dots {
  position: absolute;
  width: 100px;
  height: 20px;
  bottom: 60px;
  left: calc(50% - 50px);
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.slider-dots .dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  transition: .5s ease-in-out;
}
.slider-dots .dot.active {
  background-color: rgba(255, 255, 255, .6);
}

.disable-transitions {
  transition: none !important;
}

@keyframes appear {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}