.menu {
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: url('../../../assets/images/restaurant-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

.menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .6);
    z-index: 0;
}

.menu-content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-heading {
    margin: 20px 0;
    padding-left: 5px;
    font-family: "acboucle", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.menu-horizontal {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    width: 30%;
    /* height: 510px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-right: 40px; */
    font-family: "acboucle", sans-serif;
    font-size: 46px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.menu-category {
    position: relative;
}

.menu-category::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 0;
    height: 37.5%;
    width: 0;
    background-color: #c4c40d;
    z-index: -2;
    transition: all .4s;
}

.menu-item:hover .menu-category::after {
    width: 100%;
    transition: all .4s;
}

.menu-item img {
    transition: .2s;
    max-width: 100%;
    margin-bottom: 30px;
}