<span id="show-page" class="hidden"></span>
<section class="menu">

    <div class="menu-content centred" id="menu">

        <h2 class="block-heading">
            Меню ресторана
        </h2>

        <ul class="menu-horizontal">

            <a class="menu-item" *ngFor="let dish of dishesData"
                routerLink="/menu/{{dish.id}}" MenuHover>

                <img [src]="dish.image" alt="dish category">

                 <div>

                    <span class="menu-category">
                        {{ dish.category }}
                    </span>

                </div>

            </a>

        </ul>

    </div>

</section>