@media screen and (max-width: 1600px) {
    .menu-content {
        /* margin-top: 160px; */
    }
}

@media screen and (max-width: 900px) {

    .menu-content {
        align-items: flex-start;
        padding-top: 700px;
        padding-bottom: 600px;
    }

    .menu-horizontal {
        flex-direction: column;
    }

    .menu-item {
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }

    .menu-item img {
        display: block;
        width: 50%;
    }

    .menu-item > div {
        width: 40%;
        text-align: left;
    }

}

@media screen and (max-width: 600px) {

    .menu-content {
        padding-top: calc(75vh + 90%);
        padding-bottom: 770px;
    }

    .menu-item {
        flex-direction: column;
    }

    .menu-item img {
        width: 100%;
    }

    .menu-item > div {
        font-size: .8em;
        margin-bottom: 40px;
    }
}