@media screen and (min-width: 2000px) {

    .header__links {
        font-size: 23px;
    }

}

@media screen and (max-width: 1600px) {

    .header__links {
        font-size: 16px;
        padding: 3px 0;
    }

}

@media screen and (max-width: 1200px) {

    .greet-header {
        padding-top: 10px;
    }

    .nav__ul {
        display: none;
    }

    img {
        width: 80px;
        height: 70px;
    }

    .tablet-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        margin-top: 20px;
    }

    .tablet-phone {
        display: flex;
        width: 30px;
        height: 34px;
        margin: 7px 0 0 3px;
    }

    .greet-footer {
        justify-content: flex-end;
    }

    .footer__call-us {
        display: none;
    }

}

@media screen and (max-width: 900px) {

    .mobile-nav__container {
        height: 320px;
    }

    .mobile-nav__container ul {
        height: 250px;
    }
    
}

@media screen and (max-width: 700px) {
    
    .mobile-nav__container {
        height: 280px;
    }

    .mobile-nav__container ul {
        height: 220px;
    }

}

@media screen and (max-width: 320px) {

    .mobile-nav__container ul li a {
        font-size: 18px;
    }

}