<div class="greet-header centred">

    <nav class="header__nav">

        <div id="hamburger" class="tablet-nav flex direction-column justify-between" (click)="dropMenu()">
            <span class="hamburger hamburger-part1"></span>
            <span class="hamburger hamburger-part2"></span>
            <span class="hamburger hamburger-part3"></span>    
        </div>

        <ul class="nav__ul">

            <li>
                <a class="header__links" routerLink="events" routerLinkActive="active-page">
                    События
                </a>
            </li>

            <li>
                <a class="header__links" routerLink="menu" routerLinkActive="active-page">
                    Меню ресторана
                </a>
            </li>

            <li>
                <a class="header__links" routerLink="blog" routerLinkActive="active-page">
                    Наш блог
                </a>
            </li>

        </ul>

        <a routerLink="/" (click)="hideMobileNav()">
            <img src="../../../assets/images/logo.png" width="119" height="103">
        </a>

        <ul class="nav__ul">

            <li>
                <a class="header__links" routerLink="gallery" routerLinkActive="active-page">
                    Галерея
                </a>
            </li>

            <li>
                <a class="header__links" routerLink="about" routerLinkActive="active-page">
                    О караоке
                </a>
            </li>

            <li>
                <a class="header__links" routerLink="contacts" routerLinkActive="active-page">
                    Контакты
                </a>
            </li>

        </ul>

        <a class="tablet-phone" href="tel:=+380503122139" target="_blank">
            <svg 
                class="tablet-phone" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" 
                style="enable-background:new 0 0 512 512;" xml:space="preserve" width="50" height="50"
                >
                <style type="text/css"> 
                    .__2VhNdCu__st0{fill:#FFFFFF;} 
                </style>
                <g>
                    <path class="__2VhNdCu__st0 " 
                        d="M412.1,502.4c-18.3-3-47.8-13.7-73.6-32.5C273,422,240.6,395.7,180.1,335.2C120.2,275.4,75.6,231,41.9,
                        173.3 c-1-1.6-1.9-3.3-2.8-4.9C13.4,122.9,9.4,89.4,15,62.8c1.4-6.8,4-13.1,7.9-18.2c0.7-0.9,1.6-1.6,
                        2.4-2.5c17-17.9,24.9-26,44.3-31.7 c8.3-2.4,17.2-1,24.3,3.9c14.1,9.9,27.7,30.3,42.2,48.3c21.2,27.2,49.3,
                        72,20.5,102.1c-0.7,0.7-1.4,1.5-2,2.3l-3.3,4.1 c-0.4,0.5-0.8,0.9-1.2,1.4c-6.2,6.9-30.9,45.3,54.1,
                        130.3c28.7,28.7,49,39.9,75.2,50.9c11.9,5.5,33.2,12.4,46.7,10.5 c4.7-0.7,14.9-4.7,19.2-8.5l0,0c27.9-22.9,
                        60.6-7.9,109.5,26c0.5,0.4,1.1,0.8,1.6,1.2c20.5,16.4,34.8,23.2,39.2,37 c1.2,3.8,1.5,7.9,0.9,11.9c-3.4,
                        24.5-8.9,32.7-25.6,53.4c-0.8,1-1.7,2-2.6,2.8c-1.2,1.1-2.3,2.2-3.5,3.3c-3.9,3.8-8.5,6.7-13.6,8.7 C440.4,
                        504.5,428.7,505.1,412.1,502.4z">
                    </path>
                </g>
            </svg>
        </a>

    </nav>

</div>

<div id="mobile-nav" class="hidden-mobile mobile-nav">
    
    <div class="mobile-nav__container centred">
    
        <ul>
            <li>
                <a routerLink="events" (click)="hideMobileNav()">
                    События
                </a>
            </li>
            <li>
                <a routerLink="menu" (click)="hideMobileNav()">
                    Меню ресторана
                </a>
            </li>
            <li>
                <a routerLink="blog" (click)="hideMobileNav()">
                    Наш блог
                </a>
            </li>
            <li>
                <a routerLink="gallery" (click)="hideMobileNav()">
                    Галерея
                </a>
            </li>
            <li>
                <a routerLink="about" (click)="hideMobileNav()">
                    О караоке
                </a>
            </li>
            <li>
                <a routerLink="contacts" (click)="hideMobileNav()">
                    Контакты
                </a>
            </li>
        </ul>
    
        <div class="mobile-nav__container__social">
    
            <a rel="noopener" href="https://facebook.com/" class="social facebook" target="_blank"></a>
            <a rel="noopener" href="https://www.instagram.com/" class="social insta" target="_blank"></a>
            <a rel="noopener" href="https://telegram.org/" class="social telegram" target="_blank"></a>
            <a class="social smth" target="_blank"></a>
    
        </div>
    
    </div>
    
</div>

<div class="greet-footer centred">

    <div class="footer__call-us">
        <p class="footer__main-text fresh-news">
            Будь в курсе самых свежих новостей
        </p>
        <a href="tel:0503122139" target="_blank" class="phone-hidden">
            +380503122139
        </a>
        <div class="phone-hidden socials">
            <a href="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"
                    width="24" height="24">
                <style type="text/css">
                    .st0{fill:#FFFFFF; stroke: transparent;}
                </style>
                <path class="st0" d="M18,0H6C2.7,0,0,2.7,0,6v12c0,3.3,2.7,6,6,6h12c3.3,0,6-2.7,6-6V6C24,2.7,21.3,0,18,0z M16,6c0,0.6-0.4,1-1,1
                    h-0.9C13.5,7,13,7.3,13,7.9V9h1.9c0.6,0,1,0.5,1,1.1l-0.1,1c0,0.5-0.5,0.9-1,0.9H14c-0.6,0-1,0.4-1,1v6c0,0.6-0.4,1-1,1h-1
                    c-0.6,0-1-0.4-1-1v-6c0-0.6-0.4-1-1-1h0c-0.6,0-1-0.4-1-1v-1c0-0.6,0.4-1,1-1h0c0.6,0,1-0.4,1-1V7.1c0-2,1.1-3.1,3.5-3.1H15
                    c0.6,0,1,0.4,1,1V6z"/>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <style type="text/css">
                        .st0{fill:#fff; stroke:transparent;}
                    </style>    
                    <path class="st0" d="M8.923 12c0-1.699 1.377-3.076 3.077-3.076s3.078 1.376 3.078 3.076-1.379 3.077-3.078 3.077-3.077-1.378-3.077-3.077zm7.946-.686c.033.225.054.453.054.686 0 2.72-2.204 4.923-4.922 4.923s-4.923-2.204-4.923-4.923c0-.233.021-.461.054-.686.031-.221.075-.437.134-.647h-1.266v6.719c0 .339.275.614.616.614h10.769c.34 0 .615-.275.615-.615v-6.719h-1.265c.058.211.102.427.134.648zm.515-5.314h-1.449c-.341 0-.615.275-.615.615v1.45c0 .34.274.616.615.616h1.449c.34 0 .616-.276.616-.616v-1.45c0-.34-.275-.615-.616-.615zm6.616-1v14c0 2.761-2.238 5-5 5h-14c-2.761 0-5-2.239-5-5v-14c0-2.761 2.239-5 5-5h14c2.762 0 5 2.239 5 5zm-4 .846c0-1.019-.826-1.846-1.846-1.846h-12.308c-1.019 0-1.846.827-1.846 1.846v12.307c0 1.02.827 1.847 1.846 1.847h12.309c1.019 0 1.845-.827 1.845-1.847v-12.307z"/>
                </svg>

            </a>
            <a href="">
                <svg version="1.1" id="Layer_1" xmlns:serif="http://www.serif.com/" width="24" height="24"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
                    style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#fff; stroke:transparent;}
                </style>
                <path id="telegram-3" class="st0" d="M17.2,24H6.8C3,24,0,21,0,17.2V6.8C0,3,3,0,6.8,0h10.4C21,0,24,3,24,6.8v10.4
                    C24,21,21,24,17.2,24z M16.3,18.9c0.2,0.2,0.5,0.2,0.7,0.1s0.4-0.3,0.5-0.6c0.6-2.7,2-9.6,2.5-12.1c0-0.2,0-0.4-0.2-0.5
                    c-0.1-0.1-0.4-0.2-0.5-0.1c-2.8,1-11.4,4.3-14.9,5.6c-0.3,0-0.4,0.3-0.4,0.5s0.2,0.4,0.4,0.5c0.9,0.3,2,0.6,2.7,0.8
                    c0.5,0.2,1,0.6,1.2,1.1c0.3,1,0.9,2.6,1.2,3.5c0.1,0.2,0.2,0.3,0.4,0.4c0.2,0,0.4,0,0.5-0.1c0.3-0.3,0.7-0.7,1-1
                    c0.6-0.6,1.5-0.6,2.2-0.1C14.5,17.6,15.5,18.3,16.3,18.9z M10,12.4c-0.7,0.4-1,1.2-0.7,2l0.7,2.4l0.1-1.6c0-0.4,0.2-0.9,0.6-1.2
                    c1.2-1.1,4.3-3.9,6.3-5.6c0.1-0.1,0.1-0.2,0-0.3C17,8,16.9,8,16.8,8C14.8,9.3,11.7,11.3,10,12.4z"/>
                </svg>

            </a>
            <a href="">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"
                    width="24" height="24">
                <style type="text/css">
                    .st0{fill:#FFFFFF; stroke: transparent;}
                </style>
                <path class="st0" d="M17.4,24H6.6C3,24,0,21,0,17.4V6.6C0,3,3,0,6.6,0h10.8C21,0,24,3,24,6.6v10.8C24,21,21,24,17.4,24z M18.2,6.2
                    c-0.4-0.4-2.1-1.6-5.9-1.6c0,0-4.5-0.3-6.6,1.7c-1.2,1.2-1.6,3-1.7,5.2s-0.1,6.3,3.9,7.4l0,0v1.7c0,0,0,0.7,0.4,0.8
                    c0.5,0.2,0.9-0.4,1.4-0.9c0.1-0.1,0.3-0.3,0.5-0.5c0.3-0.4,0.8-0.6,1.3-0.6c2.3,0.1,4.1-0.3,4.3-0.4c0.5-0.2,3.6-0.6,4.1-4.7
                    C20.4,10.1,19.6,7.4,18.2,6.2z M18.7,14c-0.4,3.4-2.8,3.6-3.4,3.8C15,17.9,13.8,18,11.8,18c-0.4,0-1-0.1-1.2,0.2
                    c-0.6,0.6-1.3,1.6-1.6,1.9c-0.1,0.1-0.2,0.1-0.2,0.1c-0.1,0-0.1-0.1-0.1-0.3l0-1.3c0-0.4-0.3-0.8-0.7-1c-2.9-1.1-2.8-4.3-2.7-6.2
                    c0.1-1.9,0.4-3.3,1.4-4.3c1.8-1.7,5.6-1.4,5.6-1.4c2.8,0,4.3,0.8,4.9,1.2c0.1,0.1,0.2,0.2,0.3,0.3C18.6,8.3,19.1,10.7,18.7,14z
                    M12.6,14.2c0,0,0.3,0,0.5-0.2l0.3-0.4c0.2-0.2,0.5-0.3,0.9-0.1c0.5,0.3,1.1,0.7,1.5,1.1c0.2,0.2,0.3,0.5,0.1,0.8l0,0
                    c-0.2,0.3-0.4,0.6-0.7,0.8l0,0c-0.3,0.3-0.7,0.4-1,0.3l0,0c-0.7-0.2-2.3-1-3.4-1.9C9.1,13.3,7.9,11,7.5,9.8l0,0
                    c-0.1-0.4,0-0.7,0.3-1l0,0c0.3-0.3,0.5-0.5,0.8-0.7l0,0C9,8,9.3,8.1,9.5,8.3c0.3,0.3,0.7,0.9,1.1,1.5c0.2,0.4,0.1,0.7-0.1,0.9L10,11
                    c-0.2,0.2-0.2,0.5-0.2,0.5S10.4,13.7,12.6,14.2z M16.1,12.4c0.1,0,0.2-0.1,0.2-0.2c0-1.4-0.4-2.5-1.3-3.3c-0.8-0.8-1.9-1.2-3.1-1.2
                    l0,0c-0.1,0-0.2,0.1-0.2,0.2s0.1,0.2,0.2,0.2C13,8,14,8.4,14.7,9.1c0.8,0.7,1.1,1.8,1.1,3C15.9,12.3,16,12.4,16.1,12.4L16.1,12.4z
                    M15,11.9L15,11.9c-0.1,0-0.2-0.1-0.2-0.2c0-0.7-0.2-1.3-0.6-1.8c-0.4-0.5-1.1-0.7-1.9-0.8C12.1,9.1,12,9,12,8.9s0.1-0.2,0.2-0.2
                    c0.9,0.1,1.6,0.4,2.1,0.9c0.5,0.6,0.8,1.3,0.7,2.1C15.2,11.9,15.1,11.9,15,11.9z M13.9,11.6c-0.1,0-0.2-0.1-0.2-0.2
                    c0-0.7-0.4-1.1-1.1-1.1c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.2c0.9,0,1.4,0.6,1.5,1.5C14.1,11.5,14,11.6,13.9,11.6L13.9,11.6
                    z"/>
                </svg>
            </a>
        </div>
    </div>

    <div id="equalizerBtn" class="footer__equalizer" (click)="toggleAudioState()">
        <span class="equalizer-column1 play-audio"></span>
        <span class="equalizer-column2 play-audio"></span>
        <span class="equalizer-column3 play-audio"></span>
        <span class="equalizer-column4 play-audio"></span>
        <span class="equalizer-column5 play-audio"></span>
        <span class="equalizer-column6 play-audio"></span>
    </div>

</div>