.contacts {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.contacts::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .3);
    z-index: 0;
}

.contacts-text {
    width: 50%;
    height: 100%;
    font-family: 'acboucle', sans-serif;
    color: #fff;
    background-color: #121212;
}

.contacts-content {
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 230px;
}

.heading-and-contacts {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.page-title {
    margin-bottom: 50px;
}

.phones {
    font-size: 46px;
    margin-bottom: 30px;
}

.phones-text {
    font-size: 32px;
}

.address {
    font-size: 32px;
}

.contacts-map {
    width: 50%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}