<span id="show-page" class="hidden"></span>
<section class="contacts">

    <div class="contacts-text centred">

        <div class="contacts-content">

            <div class="heading-and-contacts">

                <h2 class="page-title">
                    Контакты
                </h2>

                <p class="phones">
                    +380502588449 <span class="phones-text">
                    по вопросам сотрудничества
                </span>
                </p>

                <p class="phones">
                    +380502588449 <span class="phones-text">
                        по вопросам рекламы и сми
                    </span>
                </p>
            </div>

            <p class="address">
                г. КИЕВ. ул. БАССЕЙНАЯ 2А. АРЕНА СИТИ
            </p>

        </div>

    </div>

    <div class="contacts-map">
        <img class="map" src="../../../assets/images/map.png">
    </div>

</section>