* {
    font-family: 'acboucle', sans-serif;
    color: #fff;    
    line-height: 72px;
}

.about-page {    
    background-color: #0A040C;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.about-intro, .about-gallery, .about-outro {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
}

.about-intro {
    background-image: url('../../../assets/images/home-about-bg.png');
    background-position: top center;
    background-size: cover;
}

.about-intro::before, .about-quote::before, .about-gallery::before, .about-restaurant::before, .about-outro::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .6);
    z-index: 0;
}

.about-intro::before, .about-quote::before {
    background-image: url('../../../assets/images/about-top-gradient.png');
    background-position: top left;
    background-repeat: repeat-x;
}

.about-intro::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../../../assets/images/about-bottom-gradient.png');
    background-position: bottom left;
    background-repeat: repeat-x;
}

.about-intro > div {
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.about-intro h2, .about-intro p, .about-quote q, .about-restaurant .restaurant-text, .about-outro p {    
    text-transform: uppercase;
}

.about-intro h2 {
    margin: 20px 0;
}

main {
    background-image: url('../../../assets/images/grunge-texture-14.jpg');
    background-size: contain;
}

.about-intro p, .about-quote q {
    font-size: 46px;
}

.about-quote {
    display: flex;
    height: 65vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 100px 0;
}

.about-quote q {
    margin: 0 auto;
    max-width: 1320px;
    position: relative;
    text-align: justify;
    display: block;
}

.about-quote q::before, .about-quote q::after {
    color: #e7e604;
    font-size: 138.33px;
    line-height: 74px;
    max-height: 74px;
}

.about-quote q::before {
    content: '“';
    margin-right: -12px;
}

.about-quote q::after {
    content: '”';
    position: absolute;
    bottom: 25px;
}

.about-gallery {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.gallery-content {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

.gallery-item {
    height: 80%;
    width: 80%;
}

.gallery-item img {
    position: relative;
    z-index: 1;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
}

.gallery-content::before {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: 100%;
    top: 0;
    left: 0;
    /* border: 1px solid #373121; */
    z-index: 0;
}

.about-restaurant {
    width: 100%;
    height: calc(100vh + 200px);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 100px 0;
}
.about-restaurant::before {
    height: calc(100% + 250px);
}
.about-restaurant::after {
    z-index: 0;
}

.restaurant-content {
    position: relative;
    width: 100%;
    height: calc(100% + 200px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 170px;
    box-sizing: border-box;
}

.about-restaurant .restaurant-content-text {
    width: 984px;
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 10px;
    color: #fff;    
    z-index: 2;
    box-sizing: border-box;
    background-image: linear-gradient(to right, transparent, transparent 15%, #0a040c 95%, #0a040c);
}

.restaurant-content-text h2 {
    margin-bottom: 35px;
}

.about-restaurant .restaurant-text {
    width: 700px;
    margin-bottom: 40px;
    font-size: 32.28px;
    text-align: justify;
}

.restaurant-link {
    position: relative;
    font-family: "acboucle", sans-serif;
    font-size: 23.06px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.restaurant-link::before {
    content: url('../../../assets/images/play.png');
    margin-right: 35px;
}

.restaurant-image {
    content: '';
    position: absolute;
    width: 69.5%;
    height: 70%;
    right: 0;
    z-index: 1;
    left: 47%;
    background-image: url("../../../assets/images/home-restaurant-bg.png");
    background-size: cover;
    overflow: hidden;
}

.about-outro {
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.about-outro p {
    font-size: 46.11px;
    text-align: justify;
    position: relative;
    max-width: 1320px;
}