@media screen and (max-width: 1600px) {

    .about-quote {
        padding: 100px;
    }
    .about-outro {
        width: calc(100% - 200px);
        padding: 0 100px;
    }

    .about-restaurant {
        padding-left: 100px;
        width: unset;
    }
    .restaurant-content {
        padding-left: 0;
    }

    .about-restaurant .restaurant-content-text {
        width: 56%;
        padding: 50px 100px 50px 10px;
    }

    .about-restaurant .restaurant-text {
        width: 90%;
        font-size: 1.5em;
        line-height: 2;
    }

    .restaurant-image {
        left: 44%;
        height: 65%;
    }

}

@media screen and (max-width: 1200px) {

    .about-restaurant {
        padding: 50px 0 50px 80px;
    }
    .about-restaurant .restaurant-content-text {
        width: 625px;
        padding: 50px 15% 50px 10px;
    }
    .about-restaurant .restaurant-text {
        width: 100%;
    }
    .restaurant-image {
        left: unset;
        right: 0;
        width: 590px;
    }
    
    .about-quote {
        padding: 100px 80px;
    }
    .about-outro {
        width: calc(100% - 160px);
        padding: 0 80px;
    }

}

@media screen and (max-width: 900px) {

    * p:not(.restaurant-text), .about-quote q {
        font-size: 1.8em;
    } 

    .about-quote {
        padding: 100px 65px;
    }
    .about-outro {
        width: calc(100% - 130px);
        padding: 0 65px;
    }
    .about-restaurant {
        padding: 0 0 0 65px;
        height: calc(100vh + 50px);
    }

}

@media screen and (max-width: 700px) {

    .about h2 {
        font-size: 43px;
    }

    * p:not(.restaurant-text), .about-quote q {
        font-size: 1.5em;
        line-height: 1.5;
    } 

    .about-restaurant .restaurant-text {
        font-size: 1.3em;
        line-height: 1.5;
    }

    .gallery-item {
        width: 90%;
        height: 90%;
    }

    .about-quote {
        padding: 20px;
        height: 55vh;
    }
    .about-quote q {
        line-height: 2;
    }
    .about-quote q::after {
        bottom: 15px;
    }
    .about-quote q::before {
        position: relative;
        top: 6px;
        margin-right: -16px;
    }

    .about-restaurant {
        padding: 50px 0;
    }
    .about-restaurant .restaurant-content-text {
        width: 100%;
        padding: 50px 8%;
        background-color: rgba(0, 0, 0, .7);
    }
}

@media screen and (max-width: 475px) {

    .gallery-content {
        height: 50%;
    }
    
}