<span id="show-page" class="hidden"></span>
<div class="about-page" id="about">

    <section class="about-intro">
        
        <div class="about centred">
        
            <h2>
                лучший караоке клуб страны
            </h2>

            <p>
                идеальное сочетание вкуса и звука
            </p>
        
        </div>
        
    </section>

    <main>
    
        <section class="about-quote">
        
            <q>
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает 
                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более 
                или менее стандартное заполнение шаблона
            </q>
        
        </section>  

        <div class="about-gallery centred">
        
            <div class="gallery-content slider swiper-container" id="slider">
                        
                <div class="gallery-container slider-container swiper-wrapper">
    
                    <div class="gallery-item slider-item slider-item-1 swiper-slide">
    
                        <div class="item-content">
                            <img src="../../../assets/images/intro-bg.jpg" alt="grammy photo">
                        </div>
    
                    </div>
    
                    <div class="gallery-item slider-item slider-item-2 swiper-slide">
    
                        <div class="item-content">
                            <img src="../../../assets/images/home-restaurant-bg.png" alt="grammy photo">
                        </div>
    
                    </div>
    
                    <div class="gallery-item slider-item slider-item-3 swiper-slide">
    
                        <div class="item-content">
                            <img src="../../../assets/images/news-bg.png" alt="grammy photo">
                        </div>
    
                    </div>
    
                    <div class="gallery-item slider-item slider-item-4 swiper-slide">
    
                        <div class="item-content">
                            <img src="../../../assets/images/home-about-bg.png" alt="grammy photo">
                        </div>
    
                    </div>
                </div>
    
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
    
            </div>
        
        </div>
        
        <div class="about-restaurant">
        
            <div class="restaurant-content">
        
                <div class="restaurant-content-text">
        
                    <p class="restaurant-text">
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает 
                        сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более 
                        или менее стандартное заполнение шаблона
                    </p>
        
                    <a href="">
    
                        <span class="restaurant-link">
                            смотреть promo
                        </span>
    
                    </a>
        
                </div>
        
                <div class="restaurant-image"></div>
        
            </div>
        
        </div>
        
        <div class="about-outro">
        
            <p>
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает 
                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более 
                или менее стандартное заполнение шаблона
            </p>
        
        </div>

    </main>
    
</div>