.blog {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: url('../../../assets/images/intro-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

.blog::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .6);
    z-index: 0;
}

.blog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 265px 0 80px 0;
    font-family: 'acboucle', sans-serif;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
}

.page-title {
    margin: 0 0 35px 10px;
}

.news-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-card {
    width: 48%;
    height: 508px;
    border: 1px solid #31271E;
    box-shadow: 0 0 25px 5px #000;
    box-sizing: border-box;
    transition: border .4s;
}

.news-card:not(:first-child) {
    margin-top: 60px;
}

.news-card:not(:nth-child(2n+2)) {
    margin: 0 2% 0 0;
}

.news-card:hover {
    border: 1px solid #7D623A;
    transition: border .4s;
}

.news-card-area, .news-card-description, .titles {
    display: flex;
    flex-direction: column;
}

.news-card-area {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    background-image: url("../../../assets/images/news-bg.png");
    background-size: cover;
    background-position-x: left;
}

.news-card-description {
    position: relative;
    height: 102px;
    justify-content: flex-end;
    color: #fff;
    border-top: 1px solid #7D623A;
    background-color: #0A040C;
    transition: all .4s;
}

.news-card-description::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: calc(50% - 25px);
    background-image: url("../../../assets/images/event-sticker.png");
    background-size: cover;
    border: 2px solid #846C39;
    border-radius: 50%;
}

.news-card:hover .news-card-description {
    height: 157px;
    transition: all .4s;
}

.titles {
    height: 55px;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 20px 10px;
}

.description {
    font-size: 23px;
}

.info {
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 14px;
    border-top: 1px solid transparent;
    transition: all .4s;
}

.info-text {
    position: relative;
    letter-spacing: 1.1px;
}

.info-text::before {
    content: "→";
    position: absolute;
    top: 0;
    right: -20px;
    opacity: 1;
    color: #fff;
    transition: all .4s;
}

.info-text::after {
    content: "→";
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0;
    color: #fcfb03;
    transition: all .4s;
}

.info:hover .info-text::before {
    right: -50px;
    opacity: 0;
    transition: all .4s;
}

.info:hover .info-text::after {
    right: -20px;
    opacity: 1;
    transition: all .4s;
}

.news-card:hover .info {
    height: 54px;
    opacity: 1;
    border-top: 1px solid #7D623A;
    transition: all .4s;
}