@media screen and (max-width: 1600px) {
    
    body * {
        -webkit-tap-highlight-color: transparent;
    }

}

@media screen and (max-width: 1200px) {
    
    .titles {
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        z-index: 1;        
    }
    
    .titles::after {
        content: '';
        width: 100%;
        height: 45px;
        position: absolute;
        bottom: 0;
        z-index: 2;
        box-shadow: 0px -35px 35px -8px #0a040c inset;
    }

}

@media screen and (max-width: 900px) {
    .blog-content {
        margin-top: 165px;
    }

}

@media screen and (max-width: 700px) {

    .news-card {
        width: 100%;
    }
    .news-card:not(:nth-child(2n+2)) {
        margin: 60px 0 0;
    }

}