@media screen and (max-width: 1600px) {

    .home-events {
        padding-top: 350px;
    }

    .events-card {
        height: 348px;
    }

    .home-restaurant {
        padding-left: 100px;
        width: unset;
        min-height: 1200px;
    }
    .home-restaurant.about {
        padding-left: 0;
        padding-right: 100px;
    }
    .restaurant-content {
        padding-left: 0;
    }
    .about-content {
        padding-right: 0;
    }

    .home-restaurant .restaurant-content-text {
        width: 56%;
        padding: 50px 0 50px 10px;
    }

    .home-restaurant .restaurant-text, .about-text {
        width: 90%;
    }

    .restaurant-image {
        left: 44%;
        height: 65%;
    }

}

@media screen and (max-width: 1200px) {

    .intro__content {
        margin-top: 60px;
    }

    .home-events {
        padding-top: 320px;
    }

    .cards-container {
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .events-card {
        width: 30%;
        height: 398px;
        margin: 20px 10px 10px 0;
    }

    .home-restaurant {
        padding: 50px 0 50px 80px;
        min-height: 1000px;
    }
    .home-restaurant .restaurant-content-text {
        width: 625px;
        padding: 50px 60px 50px 10px;
    }
    .home-restaurant .restaurant-text, .about-text {
        width: 100%;
    }
    .restaurant-image {
        left: unset;
        right: 0;
        width: 590px;
    }


    .about-content-text {
        padding: 50px 10px 50px 50px;
    }
    .about-image {
        right: unset;
        left: -100px;
        width: 590px;
    }
    
}

@media screen and (max-width: 900px) {

    .intro__title {
        margin-bottom: 22px;
    }

    .intro__video {
        display: none;
    }

    .intro__area {
        background-image: url('../../../assets/images/intro-bg.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    .intro__area::before {
        z-index: 0;
    }

    .intro__content {
        z-index: 1;
        margin-top: 0px;
    }

    
    .intro__title-subtext {
        margin-bottom: 5px;
        font-size: 22px;
        line-height: 28px;
    }

    .intro__reserve {
        padding: 8px 0;
    }

    .cards-container {
        justify-content: space-between;
    }
    .events-card {
        width: 45%;
        max-width: 335px;
    }

    .home-restaurant, .home-restaurant.about {
        padding: 0;
        height: calc(100vh + 50px);
        min-height: unset;
    }

    .home-events {
        padding-top: 150px;
    }

    .about-image {
        left: 0;
        height: 90%;
        width: 100%;
    }

}

@media screen and (max-width: 700px) {

    .intro__title, .block-heading {
        margin-bottom: 22px;
    }

    .cards-container {
        flex-wrap: wrap;
        padding: 20px 0 65px;
        justify-content: center;
    }

    .events-card {
        width: 100%;
        height: 398px;
        margin: 20px 0;
    }

    .gallery-heading {
        position: absolute;
        top: -40px;
        left: calc(50% - 63px);
    }

    .intro__title-subtext {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 28px;
    }

    .intro__reserve {
        font-size: 18px;
        padding: 8px 0;
    }

    .home-events {
        padding-top: 80px;
    }

    .home-restaurant {
        padding: 50px 0;
    }

    
    .home-restaurant .restaurant-content-text, .about-content-text {
        width: 100%;
        padding: 50px 8%;
        background-color: rgba(0, 0, 0, .7);
        height: unset;
    }

    .home-restaurant .restaurant-text, .about-text {
        font-size: 1em;
        line-height: 1;
    }

    .restaurant-image {
        left: 0;
        width: 100%;
        height: 90%;
    }

    .home-quote {
        padding-top: 150px;
    }
    .home-quote q {
        font-size: 1.1em;
        line-height: 1.7;
    }

    .home-quote q::before, .home-quote q::after {
        font-size: 60px;
    }
    .home-quote q::after {
        bottom: -5px;
        right: 8px;
    }

}

@media screen and (max-width: 475px) {

    .gallery-content {
        height: 50%;
    }

    .gallery-item {
        height: 70%;
    }
    
}