<span id="show-page" class="hidden"></span>
<div class="home-body" id="home">

    <div class="intro__area centred">
        <video class="intro__video" id="promo-video" autoplay loop [muted]="true">
            <source src="http://grammy.creato.tech/video/giphy.5ba8e.mp4" type="video/mp4">
        </video>
        <div class="intro__content">
            <h1 class="intro__title">
                Лучший караоке клуб страны
            </h1>
            <p class="intro__title-subtext">
                Давно выяснено, что при оценке дизайна и композиции 
                читаемый текст мешает сосредоточиться.
                <span class="subtext-line"></span>
            </p>
            <a routerLink="contacts" class="intro__reserve">
                Забронировать стол
                <span class="reserve-line"></span>
            </a>
        </div>
        
    </div>

    <main class="home__main">

        <div class="home-events centred">
            <h2 class="block-heading">
                Наши события
            </h2>
            <ul class="cards-container">
                <li class="events-card" *ngFor="let event of eventsData">        
                    <a routerLink="events" class="events-card-area">        
                        <div class="events-card-description">        
                            <div class="titles">        
                                <h3 class="title">
                                    {{ event.title }}
                                </h3>
                                <p class="subtitle">
                                    {{ event.subtitle }}
                                </p>
                            </div>
                            <div class="info">
                                <p class="info-text">
                                    Подробнее
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="home-restaurant">

            <div class="restaurant-content">

                <div class="restaurant-content-text">

                    <h2 class="block-heading">
                        Ресторан
                    </h2>

                    <p class="restaurant-text">
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает 
                        сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более 
                        или менее стандартное заполнение шаблона, а также реальное распределение 
                        букв и пробелов в абзацах, которое не получается при простой дубликации 
                        "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
                        электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве 
                        текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу 
                        показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. 
                    </p>

                    <a routerLink="menu">

                        <span class="restaurant-link">
                            Посмотреть меню      
                        </span>

                    </a>

                </div>

                <div class="restaurant-image">
                </div>

            </div>

        </div>

        <div class="home-gallery centred">

            <div class="gallery-content slider swiper-container" id="slider">
                <h2 class="block-heading gallery-heading">
                    Галерея
                </h2>
                
                <div class="gallery-container slider-container swiper-wrapper">

                    <div class="gallery-item slider-item slider-item-1 swiper-slide">
    
                        <div class="item-content">
                            <img src="../../../assets/images/intro-bg.jpg" alt="grammy photo">
                        </div>
    
                    </div>

                    <div class="gallery-item slider-item slider-item-2 swiper-slide">
    
                        <div class="item-content">
                            <img src="../../../assets/images/home-restaurant-bg.png" alt="grammy photo">
                        </div>
    
                    </div>

                    <div class="gallery-item slider-item slider-item-3 swiper-slide">
    
                        <div class="item-content">
                            <img src="../../../assets/images/news-bg.png" alt="grammy photo">
                        </div>
    
                    </div>

                    <div class="gallery-item slider-item slider-item-4 swiper-slide">
    
                        <div class="item-content">
                            <img src="../../../assets/images/home-about-bg.png" alt="grammy photo">
                        </div>
    
                    </div>
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

            </div>

        </div>

        <div class="home-restaurant about">

            <div class="about-content">

                <div class="about-content-text">

                    <h2 class="block-heading">
                        Караоке
                    </h2>

                    <p class="about-text">
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает 
                        сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более 
                        или менее стандартное заполнение шаблона, а также реальное распределение 
                        букв и пробелов в абзацах, которое не получается при простой дубликации 
                        "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы 
                        электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве 
                        текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу 
                        показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. 
                    </p>

                    <a routerLink="contacts">

                        <span class="about-link">
                            Забронировать стол
                        </span>

                    </a>

                </div>

                <div class="about-image"></div>

            </div>

        </div>

        <div class="home-quote centred">

            <q>
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
                Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение 
                шаблона
            </q>
    
        </div>

    </main>

</div>