.menu-item {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
    color: #fff;
    font-family: "acboucle", sans-serif;
    text-transform: uppercase;
    background-image: url('../../../../assets/images/intro-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.menu-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .6);
    z-index: 0;
}

.menu-item-content {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
    width: 100%;
}

.item-content--heading {
    width: 540px;
    min-width: 540px;
    height: calc(100vh - 160px);
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 170px;
    z-index: 1;
    font-family: 'Acboucle', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.page-title {
    font-size: 73px;
    margin: 0 0 40px 10px;
}

.content-details {
    width: calc(100% - 600px);
    display: flex;
    justify-content: flex-end;
    padding: 273px 0 100px 0;
}

.content-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.content-img img {
    width: 540px;
    height: 490px;
    margin-bottom: 35px;
    transition: all .4s;
}

.link-back {
    position: relative;
    font-size: 45px;
    margin-left: 5px;
}

.link-back::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 5px;
    left: 0;
    height: 39%;
    width: 0;
    background-color: #dfdf12;
    z-index: -1;
    transition: all .4s;
}

.link-back:hover::after {
    width: 100%;
    transition: all .4s;
}

.dish-item {
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
    transition: all .4s;
    box-sizing: border-box;
}

.dish-item:hover {
    background-color: rgba(230, 227, 31, .7);
    transition: all .4s;
}

.item-header {
    display: flex;
    justify-content: space-between;
}

.item-header h3 {
    font-size: 32px;
}

.item-header p {
    margin-top: 5px;
    font-size: 14px;
}

.item-description {
    font-family: "robotocond regular";
    font-size: 18.5px;
    line-height: 27px;
}

.mobile {
    display: none;
}