@media screen and (max-width: 1600px) {

    .item-content--heading {
        left: 100px;
    }

    .item-content--heading {
        width: 450px;
        min-width: unset;
    }

    .content-img {
        max-width: max-content;
    }

    .content-img img {
        width: 400px;
        height: 380px;
        margin-bottom: 20px;
    }

    .content-details {
        width: calc(100% - 430px);
        padding-top: 249px;
    }

    .page-title {
        font-size: 63px;
        margin: 0 0 25px 0;
    }

    .link-back {
        font-size: 35px;
        max-width: max-content;
    }

    .dish-item {
        min-height: 138px;
        height: unset;
    }

}

@media screen and (max-width: 1200px) {

    .item-content--heading {
        left: 80px;
        width: 300px;
    }

    .content-img img {
        width: 300px;
        height: 285px;
        margin-bottom: 20px;
    }

    .content-details {
        width: calc(100% - 320px);
        padding-top: 239px;
    }

    .page-title {
        font-size: 53px;
    }

}

@media screen and (max-width: 900px) {

    .item-content--heading {
        width: 240px;
        left: 65px;
    }

    .content-img img {
        width: 240px;
        height: 225px;
        margin-bottom: 20px;
    }

    .content-details {
        width: calc(100% - 260px);
        padding-top: 228px;
    }

    .page-title {
        font-size: 43px;
    }

    .item-header h3 {
        font-size: 25px;
    }
    
    .item-header p {
        font-size: 14px;
    }
    
    .item-description {
        font-family: "robotocond regular";
        font-size: .85em;
        line-height: 1.4;
    }

}

@media screen and (max-width: 700px) {

    .no-mobile {
        display: none;
    }

    .mobile {
        display: block;
    }

    .menu-item-content {
        flex-direction: column;
    }

    .item-content--heading {
        position: unset;
        height: unset;
        width: 100%;
        padding-top: 120px;
    }

    .content-details {
        width: 100%;
        padding-top: 28px;
    }

    .content-img {
        max-height: 300px;
        height: 300px;
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .content-img img {
        max-width: 100%;  
        max-height: 100% !important;
        min-height: 100%;  
        min-width: 100%;
        margin-right: 0;
    }

}

@media screen and (max-width: 335px) {

    .content-img { 
        height: 235px;
    }

}