<span id="show-page" class="hidden"></span>

<div class="item-content--heading no-mobile">

    <h2 class="page-title">
        {{dishObject.category}}
    </h2>

    <div class="content-img">

        <img src="{{dishObject.image}}" alt="menu dish">

    </div>

    <a routerLink="../../menu" class="link-back">
        Назад к меню
    </a>

</div>

<section class="menu-item centred" id="menu-item">


    <div class="item-content--heading mobile">

        <h2 class="page-title">
            {{dishObject.category}}
        </h2>
    
        <div class="content-img">
    
            <img src="{{dishObject.image}}" alt="menu dish">
    
        </div>
    
        <a routerLink="../../menu" class="link-back">
            Назад к меню
        </a>
    
    </div> 

  <div class="menu-item-content">  

        <div class="content-details">
    
          <ul class="dish-items">
    
            <li class="dish-item" *ngFor="let dish of listOfDishes">
    
              <div class="item-header">
    
                <h3>
                  {{ dish.name }}
                </h3>
                <p>
                  {{ dish.ingredients }}
                </p>
    
              </div>
              <p class="item-description">
                {{ dish.description }}
              </p>
    
            </li>
    
          </ul>
    
    </div>


  </div>

</section>